@import "components/badge.css";
@import "components/button.css";
@import "components/table.css";
@import "components/search.css";

@import "customers";
@import "dashboard";
@import "financial";
@import "sales";

@import "invoice_document.css";

:root {
  --white: rgba(255, 255, 255, 1);
  --light-gray: rgba(179, 179, 179, 1);
  --gray: rgba(85, 85, 85, 1);
  --black: rgba(34, 34, 34, 1);
  --blue: rgba(16, 77, 94, 1);
  --error: rgba(255, 87, 87, 1);
  --success: rgba(69, 239, 116, 1);
  --warning: rgba(244, 207, 80, 1);

  font-family: "Raleway";
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  width: 13.0625rem;
  height: 100vh;
  position: fixed;
  border: 1px solid #dcdcdc;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.input-container {
  display: flex;
  width: 18.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.input-label {
  color: var(--gray);
  font-weight: 700;
}

.input {
  display: flex;
  height: 2.5rem;
  padding: 1rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;

  border-radius: 0.25rem;
  border: 2px solid var(--light-gray);
}

.input:focus,
.textarea:focus {
  border: 1px solid var(--blue);
}

.input.error,
.textarea.error {
  border: 1px solid var(--error);
}

.input:disabled,
.textarea:disabled {
  background: #f1f1f1;
}

.textarea {
  display: flex;
  height: 7.5rem;
  padding: 1rem 0.75rem;
  align-items: flex-start;
  gap: 0.5rem;

  border-radius: 0.25rem;
  border: 2px solid var(--light-gray);
  resize: none;
}

.nav-container {
  height: 100%;
  width: 13.0625rem;
  flex-shrink: 0;
  border-right: 1px solid #dcdcdc;
  padding: 2rem 1.5rem;
  gap: 3.13rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.25rem;
  width: 10.0625rem;
}

.nav-menu-item {
  display: flex;
  height: 2.5rem;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.25rem;
  font-weight: 400;
}

.nav-menu-item.active {
  background: var(--blue);
}

.icon {
  width: 1rem;
  height: 1rem;
  color: var(--gray);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.login-container .logo {
  width: 9rem;
  height: 6.5rem;
  fill: var(--white);
}

.login-background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #104D5E 0%, #104D5E 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),
    url("/images/ginger.jpeg"), lightgray 50% / cover no-repeat;
  background-blend-mode: overlay, normal, normal;
}

.login-form {
  display: inline-flex;
  padding: 2.5rem 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  border-radius: 1rem;
  background: #FFF;
}

.login-form h1 {
  color: var(--gray);
  font-size: 2rem;
  font-weight: 700;
}

.login-form label {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 700;
}

.login-form .btn {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.login-form>div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.login-form h1 {
  margin-bottom: 0.5rem;
}

.title {
  color: var(--gray);
  text-align: center;
  font-family: Raleway;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}