@import "new_sale.css";
@import "profile.css";

.customers-wrapper {
  margin-left: 13.0625rem;
}

.customers-wrapper .top-bar-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.5rem;
  gap: 2rem;
  margin-bottom: 1.5rem;

  border-bottom: 1px solid #dcdcdc;
}

.customers-wrapper .top-bar-wrapper .search-input {
  display: flex;
  width: 23.625rem;
  height: 2.5rem;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
  margin: 0 0 0 1.5rem;
}

.customers-wrapper .top-bar-wrapper .group-buttons {
  display: flex;
  gap: 2rem;
}

.customers-wrapper .top-bar-wrapper .group-buttons button {
  height: 2.5rem;
  padding: 0.75rem;
  align-items: center;
}

.customers-wrapper .customers-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 0rem 5rem 1.5rem;
  gap: 1.5rem;
}

.customer-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 14.25rem;
  padding: 1.5rem;
  gap: 2rem;
  border-radius: 0.25rem;
  border: 1px solid #dcdcdc;
}

.customer-card-wrapper .customer-profile {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.customer-card-wrapper .customer-profile img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.customer-card-wrapper .customer-profile p {
  color: var(--gray);
  font-size: 1.25rem;
  font-weight: 700;
}

.customer-card-wrapper .block-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.customer-card-wrapper .block-text-wrapper .group-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.customer-card-wrapper .block-text-wrapper .group-text-wrapper .text-wrapper-1 {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 700;
}

.customer-card-wrapper .block-text-wrapper .group-text-wrapper .text-wrapper-2 {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 400;
}

.vertical-divider {
  width: 1px;
  border: 0;
  border-left: 1px solid #dcdcdc;
}