.os-wrapper {
  margin-left: 13.0625rem;
}

.os-wrapper .top-bar-wrapper {
  display: flex;
  justify-content: space-between;
  height: 5.5rem;

  border-bottom: 1px solid #dcdcdc;
}

.group-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-group,
.middle-group,
.right-group {
  display: flex;
  align-items: center;
  margin: 0 1.5rem 0 1.5rem;
}

.left-group .btn,
.middle-group .btn,
.right-group .btn {
  display: flex;
  height: 2.5rem;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.os-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

div.os-title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.os-title-wrapper p {
  font-weight: 700;
  color: var(--gray);
}

.os-title-wrapper div.os-title p.os-title {
  font-size: 2rem;
  gap: 1.5rem;
}

.os-title-wrapper .os-name {
  font-size: 1.25rem;
  gap: 1.5rem;
}

.os-title-wrapper .os-status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.os-title-wrapper .os-status .badge {
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 62.5rem;
}

.os-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  margin: 1.5rem 1.5rem 5rem 1.5rem;
}

.os-details-container .os-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  align-self: stretch;
}

.os-details-container .os-details .text-wrapper {
  color: var(--gray);
  font-size: 1.25rem;
  font-weight: 700;
}

.os-details-container .os-details .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.os-details-container .os-details .details .row {
  display: flex;
  align-items: flex-start;
  gap: 3.5rem;
}

.os-details-container .os-details .details .row .input-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.os-details-container .os-details .details .row .input-data .text-wrapper-1 {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 700;
}

.os-details-container .os-details .details .row .input-data .text-wrapper-2 {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 400;
}

.os-details-container .os-details .details .row .input-data .broken-line {
  white-space: pre-line;
}

.os-details-container .vertical-divider {
  width: 1px;
  border: 0;
  border-left: 1px solid #dcdcdc;
}

.os-details-container .horizontal-divider {
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px solid #dcdcdc;
}