.top-menu {
  display: flex;
  height: 5.5rem;
  margin-left: 13.0625rem;
  align-items: center;

  border-bottom: 1px solid #dcdcdc;
}

.top-menu hr {
  margin: 0 2.5rem 0 2.5rem;

  width: 0;
  transform: rotate(-0.003deg);
  flex-shrink: 0;
  align-self: stretch;
  stroke-width: 1px;
  stroke: #dcdcdc;
}

.first-group,
.second-group {
  display: flex;
  justify-content: left;
}

span.label {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 400;
}

.first-group div,
.second-group div {
  display: flex;
  flex-direction: column;

  color: var(--gray);
  font-size: 1.5rem;
  font-weight: 700;
}

.first-group hr,
.second-group hr {
  margin: 0 2rem 0 2rem;

  width: 0;
  height: 1.75rem;
  stroke: #dcdcdc;
}